.card {
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
  margin-top: 10px;
}
.input-group {
  max-width: 600px;
  margin: 0 auto;
  margin: 0px 0px 0px 450px;
}

.input-group-append {
  margin: 0px 0px 0px 700px;
}
.header-button {
  text-decoration: none;
  color: black;
}

.profile {
  margin: 0px 0px 0px 550px;
}



.input-auth {
  width: 500px;
  margin: 0 auto;
}

.button-auth {
  margin-top: 20px;
}

.button-mainPage {
  margin-top: 5px;
}

.add-post {
  text-align: center;
  color: blue;
}

.add-news {
  text-align: center;
  color: blue;
}

.input-group{
  margin : 0 auto
}
.add {
  margin: 200px 0px 0px 600px;
}

.addNewsGroup{
  margin-top: 10px;
}
.addPostGroups{
  margin-top: 75px;
}

.authProfile{
  text-align: center;
  margin-top: 150px;
  font-weight: 100;
}

.input-auth{
  margin-top: 100px;
}